
<!DOCTYPE html>
<!--xmlns:th="http://www.w3.org/1999/xhtml"-->
<!--xmlns:shiro="http://www.w3.org/1999/xhtml"-->
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"  xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--xmlns="http://www.w3.org/1999/xhtml"-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--th:fragment-->
<div th:fragment="top">
<div  class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a th:href="@{./}" style="color: #009688">麻将馆</a></div>
        <!-- 头部区域（可配合layui已有的水平导航）-->
        <ul class="layui-nav layui-layout-left" >
            <li class="layui-nav-item"><a href="" shiro:hasRole="admin">管理</a></li>
            <li class="layui-nav-item"><a href="./getUserList" shiro:hasRole="admin">用户管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" th:unless="${session.userinfo==null}" shiro:hasRole="user">
                <a href="javascript:;" th:text="${session.userinfo.phone}">
                    名称
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a shiro:lacksPermission="sys:user:user" th:href="@{/login}">登录</a>
                <a shiro:hasPermission="sys:user:user" th:href="@{/outApp}">退出</a>
            </li>
        </ul>
    </div>
</div>
</div>



</body>
</html>


