<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Signin Template for Bootstrap</title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- <link rel="stylesheet" href="../static/asserts/css/signin.css">-->


</head>
<body>

<script type="text/javascript">
    $("#btn-login").click(function () {
        console.log("jinru");
        console.log(JSON.stringify($("#form-login").serialized)),
            console.log(JSON.stringify($("#form-login").serializeArray())),
            $.ajax({
                url: "/user/userLogin",
                type: "post",
                data: JSON.stringify($("#form-login").serializeArray()),
                dataType: "json",
                contentType: 'application/json',
                success: function (JSON) {
                    if (JSON.code == 200) {
                        alert("登录成功");
                    } else {
                        alert(JSON.msg);
                    }
                }
            });
    });
</script>
<h1>Hello</h1>
<form class="form-signin" id="form-login" method="post"  action="localhost:8080/user/templates/login.html">
    <img class="mb-4"  th:src="@{/img/bootstrap-solid.svg}" alt=""
         width="72" height="72"/>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <input type="text" class="form-control" name="Phone" placeholder="手机" required="" autofocus=""/>
    <input type="password" name="PassWord" class="form-control" placeholder="密码" required=""/>
    <div class="checkbox mb-3">
        <label><input type="checkbox" value="remember-me"/> 记住我</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn-login">登录</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>

</form>


</body>
</html>