<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>麻将馆</title>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>

    <script th:src="@{/js/jquery-1.9.0.min.js}"></script>
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->

</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="./" style="color: #009688">麻将馆</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" shiro:hasRole="admin">
            <li class="layui-nav-item"><a href="">管理</a></li>
            <li class="layui-nav-item"><a href="./getUserList">用户管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" th:unless="${session.userinfo==null}" shiro:hasRole="user">
                <a href="javascript:;" th:text="${session.userinfo.Phone}">
                    名称
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a  shiro:lacksPermission="sys:user:user" href="http://localhost:8080/user/login">登录</a>
                <a  shiro:hasPermission="sys:user:user" th:href="@{/outApp}">退出</a>
            </li>
        </ul>
    </div>
</div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a href="javascript:;" style="height: 55px">管理</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">用户管理</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>

                    </dl>
                </li>
            </ul>
        </div>
    </div>


    <div class="layui-body" id="majiangs-ss">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;"> 这里是为了避免下面的内容呗遮盖
        </div>
        <br>
    </div>


    <script th:src="@{/layui/layui.js}"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
            //监听导航点击
            element.on('nav(demo)', function (elem) {
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
    </script>
 <script>
     $(function () {
         $.ajax({
             url: "/user/pub/getAllMajiang",
             type: "get",
             contentType: "application/json;charset=utf-8",
             success: function (JSON) {
                 if (JSON.code == 0) {
                     //./majiang/buy
                     var datas=JSON.date;
                     for (var i=0;i<JSON.date.length;i++){
                        // $("#majiangs-ss").append(' <div style=\"height: 50px\" value="+JSON.date[i].majiangNum+">第'+JSON.date[i].majiangNum+'桌<br><a style="color: #5FB878" class="a_majiang"  href=\"#\">'+'  订  '+'</a></div>');
                         $("#majiangs-ss").append('<button onclick="send(this)" class="a_majiang" style=\"height: 50px\" value=\"'+JSON.date[i].keyID+'\">第'+JSON.date[i].majiangNum+'桌</button><br>');
                         console.log(JSON.date[i]);
                     }
                    // $("#majiangs-ss").append('<button onclick="send(this)" class="a_majiang" style=\"height: 50px\" value="12346">第'+JSON.date[i].majiangNum+'桌</button>');
                     /*重定向*/
                     /*Http.open("/main");*/
                     console.log("成功")
                 } else {
                     alert(JSON.msg);
                 }
             }
         });
     })
    </script>

<script>
   /* $(".a_majiang").click(function () {
        console.log("jinru");
            $.ajax({
                url: "./majiang/buy",
                type: "get",
                data: "goodid",
                success: function (JSON) {
                    if (JSON.code == 0) {
                        /!*重定向*!/
                        /!*Http.open("/main");*!/
                        console.log("成功")
                        //window.location.href = "http://localhost:8080/user/";
                    } else {
                        alert(JSON.msg);
                    }
                }
            });
    });*/

     function send(ss) {
         $.ajax({
             url: "/user/majiang/buy",
             type: "get",
             data: "majiangKeyID="+ss.value,
             success: function (JSON) {
                 console.log(JSON);
                 if (JSON.code == 0) {
                     /*重定向*!/
                     /!*Http.open("/main");*/
                     getMU(ss.value)
                 } else {
                     alert(JSON.msg)
                 }
             }
         });
    }
</script>
<script>
    function getMU(ss) {
        $.ajax({
            url: "/user/majiang/getMU",
            type: "get",
            data: "majiangKeyID="+ss,
            success: function (JSON) {
                console.log(JSON)
                if (JSON.code == 0) {
                    console.log("获取订单成功");
                    var r=confirm("预定成功，是否前往订单界面？");
                    if (r==true){
                        console.log("var r=confirm 判断为true")
                    } else {
                        console.log("var r=confirm 判断为false")
                    }
                } else {
                    console.log("失败了")
                }
            }
        });
    }

</script>
</body>
</html>