<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>

    <script th:src="@{/js/jquery-1.9.0.min.js}"></script>
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <script th:src="@{/js/OpenUtils.js}"></script>
</head>
<body>


<dav th:insert="page/pub/publicHtml :: top"></dav>
<dav th:insert="page/pub/publeftHtml :: hre"></dav>
<div class="layui-body" id="majiangs-ss">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        这里是为了避免下面的内容呗遮盖
    </div>
    <br>
    <div class="top">
        <h4 style="text-align: center">订单详情页</h4>
    </div>
    <div class="goods">
        <div class="containers">
            <div class="goods_view">
                <img id="goodsImg" width="560"/>
            </div>
            <form id="payForm" method="post" onsubmit="return false">
                <div type="hidden">
                    <input type="hidden" id="majiangKeyID" name="majiangKeyID"></input>
                </div>
                <div>
                    <p style="display: inline">订单号:</p>
                    <input id="KeyID" name="KeyID"></input>
                </div>
                <div>
                    <p style="display: inline">时间:</p>
                    <input id="createDate" name="addTime"></input>

                </div>
                <div>
                    <p style="display: inline">状态:</p>
                    <input id="orderStatus" name="statusName"></input>
                </div>

                <div>
                    <p style="display: inline">定桌人:</p>
                    <input id="userName" name="userName"></input>
                </div>
                <div>
                    <p style="display: inline">电话:</p>
                    <input id="userPhone" name="userPhone"> </input>
                </div>
                <div>
                    <p style="display: inline">单价:</p>
                    <input id="unitprice" name="price"></input>
                </div>
                <div>
                    <p style="display: inline">数量:</p>
                    <input id="majiangOrder_num" name="num"></input>
                </div>
                <div>
                    <p style="display: inline">总价:</p>
                    <input id="majiangOrdersum" name="sumPrice"></input>
                </div>
                <tr>
                    <!--<input type="submit" value="前往支付宝进行支付">-->
                    <button class="btn btn-primary btn-block" id="payButton">支付宝支付</button>
                </tr>

            </form>


            <div id="returnAli"></div>
        </div>
    </div>
    <br>
</div>


<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });


</script>
<script>
    $(function () {
        //获取modelandview中的值
        //var majiangKeyID1=[[${majiangKeyID}]];
        $.ajax({
            url: "/user/majiang/getMU",
            type: "get",
            //取modelandview中的数据majiangKeYID
            data: "majiangKeyID=" + [[${majiangKeyID}]]+"&OrderStatus="+1,
            contentType: "application/json;charset=utf-8",
            success: function (JSON) {
                if (JSON.code == 0) {
                    //时间格式化

                    var da = new Date(JSON.date[0].addTime).Format("yyyy-MM-dd hh:mm:ss");
                    $("#createDate").val(da).css("display", "inline");
                    $("#orderStatus").val(JSON.date[0].statusName).css("display", "inline");
                    $("#userName").val(JSON.date[0].userName).css("display", "inline");
                    $("#userPhone").val(JSON.date[0].userPhone).css("display", "inline");
                    $("#unitprice").val(+JSON.date[0].price).css("display", "inline");
                    $("#majiangOrder_num").val(JSON.date[0].num).css("display", "inline");
                    $("#majiangOrdersum").val(JSON.date[0].sumPrice).css("display", "inline");
                    $("#KeyID").val(JSON.date[0].keyID).css("display", "inline");
                    $("#majiangKeyID").val(JSON.date[0].majiangKeyID).css("display", "inline");

                }else{
                    alert(JSON.msg);
                    window.location.href = "/user/";
                }
            }
        });
    });

    $("#payButton").on('click', function () {


        $.ajax({
            type: "post",
            //contentType: "application/json;charset=utf-8",
            //data: JSON.stringify($("#payForm").serializeObject()),
            data: $("#payForm").serialize(),
            url: "/user/goPay",
            dataType: "html",
            success: function (JSON) {
                alert(JSON);
                // $(document.body).html(JSON);
                //window.open(JSON,'_blank');
                //打开一个新页面
                myWindow = window.open('', '');
                //将返回的from表单写到新页面中
                myWindow.document.write(JSON);
                myWindow.focus();
            },
            error: function (da) {
                alert("系统异常")
            }
        });
    })
</script>
</body>
</html>