<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
</head>
<body>


<dav th:insert="page/pub/publicHtml :: top"></dav>
<dav th:insert="page/pub/publeftHtml :: hre"></dav>

<div class="layui-body" id="majiangs-ss">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        这里是为了避免下面的内容呗遮盖
    </div>
    <br>
</div>


<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>

<script>
    $(function () {
        //$("#pubhide").load("/user/publicHtml");
        $.ajax({
            url: "/user/majiang/getMU",
            type: "get",
            //取modelandview中的数据majiangKeYID
            data: "majiangKeyID=" + [[${majiangKeyID}]]+"&OrderStatus= ",
            contentType: "application/json;charset=utf-8",
            success: function (JSON) {
                if (JSON.code == 0) {
                    //时间格式化
                    var da = new Date(JSON.date[0].addTime).Format("yyyy-MM-dd hh:mm:ss");
                    $("#createDate").val(da).css("display", "inline");
                    $("#orderStatus").val(JSON.date[0].statusName).css("display", "inline");
                    $("#userName").val(JSON.date[0].userName).css("display", "inline");
                    $("#userPhone").val(JSON.date[0].userPhone).css("display", "inline");
                    $("#unitprice").val(+JSON.date[0].price).css("display", "inline");
                    $("#majiangOrder_num").val(JSON.date[0].num).css("display", "inline");
                    $("#majiangOrdersum").val(JSON.date[0].sumPrice).css("display", "inline");
                    $("#KeyID").val(JSON.date[0].keyID).css("display", "inline");
                    $("#majiangKeyID").val(JSON.date[0].majiangKeyID).css("display", "inline");
                }else{
                    alert(JSON.msg);
                    window.location.href = "/user/";
                }
            }
        });
    });


</script>

</body>
</html>