<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>

    <script th:src="@{/js/jquery-1.9.0.min.js}"></script>
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <script th:src="@{/js/OpenUtils.js}"></script>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="./" style="color: #009688">麻将馆</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" shiro:hasRole="admin">
            <li class="layui-nav-item"><a href="">管理</a></li>
            <li class="layui-nav-item"><a href="./getUserList">用户管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" th:unless="${session.userinfo==null}" shiro:hasRole="user">
                <a href="javascript:;" th:text="${session.userinfo.Phone}">
                    名称
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a  shiro:lacksPermission="sys:user:user" href="http://localhost:8080/user/login">登录</a>
                <a  shiro:hasPermission="sys:user:user" th:href="@{/outApp}">退出</a>
            </li>
        </ul>
    </div>
</div>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item">
                <a href="javascript:;" style="height: 55px">管理</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">所有商品</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">列表一</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="javascript:;">列表三</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">用户管理</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>

                </dl>
            </li>
        </ul>
    </div>
</div>


<div class="layui-body" id="majiangs-ss">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;"> 这里是为了避免下面的内容呗遮盖
    </div>
    <br>
    <div class="top">
        <h4 style="text-align: center">订单详情页</h4>
    </div>
    <div class="goods">
        <div class="containers">
            <div class="goods_view">
                <img  id="goodsImg"  width="560"/>
            </div>
        <div class="goods_info">
                <h2 id="goodsName"></h2>
                <p class="title" text="${goods.goodsTitle}"></p>
                <p>
                    <span class="price1"  id="orderPrice"></span>
                </p>
                <div class="seckill_data">
                    <div>
                        <span>下单时间:</span>
                        <span id="createDate">ss</span>
                    </div>
                    <div>
                        <span>订单状态:</span>
                        <span id="orderStatus"></span>
                    </div>
                    <div>
                        <span>单价:</span>
                        <span id="unitprice"></span>
                    </div>
                </div>
                <div class="count">
                    <span>订桌人：</span>
                    <span id="orderUser" >XXX  1383838483</span>
                </div>
                <div class="count">
                    <span>数量：</span>
                    <span id="majiangOrder_num">北京市昌平区回龙观龙博一区</span>
                </div>
                <div class="count">
                    <span>总价：</span>
                    <span id="majiangOrdersum">北京市昌平区回龙观龙博一区</span>
                </div>
                <button class="btn btn-primary btn-block" type="submit" id="NotpayButton">取消订单</button>
                <button class="btn btn-primary btn-block"   id="payButton" >立即支付</button>
            </div>

        <!--  <form id="payForm" method="post" action="/user/goPay">
                <table>
                    <tr>
                        <td id="createDate">下单时间:</td>
                    </tr>
                    <tr>
                        <td id="orderStatus">订单状态:</td>
                    </tr>
                    <tr>
                        <td id="unitprice">单价:</td>
                    </tr>
                    <tr>
                        <td>订桌人:</td>
                        <td id="orderUser"></td>
                    </tr>
                    <tr>
                        <td id="majiangOrder_num">数量:</td>
                    </tr>
                    <tr>
                        <td id="majiangOrdersum">总价:</td>
                    </tr>
                    <tr>
                        <input type="submit" value="前往支付宝进行支付">
                    </tr>
                </table>
            </form>-->

            <div id="returnAli"></div>
        </div>
    </div>
    <br>
</div>


<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
    $(function (){
        $("#payButton").on('click', function(){
            alert("点击按钮");
            $.ajax({
                type : "post",
             /*   data : {
                    WIDout_trade_no : $('#out_trade_no').val(),
                    WIDsubject : $('#WIDsubject').val(),
                    WIDtotal_fee : $('#WIDtotal_fee').val(),
                    WIDbody : $('#WIDbody').val()
                },*/
                url : "/user/goPay",
                dataType: "html",
                success : function(data) {
                    alert(data);
                   console.log("获取到的数据:"+data);
                   //$('#returnAli').append(data);
                    var div = document.createElement('div');
                    div.innerHTML = data; // html code
                    document.body.appendChild(div);
                    document.forms[0].submit();
                },
                error : function(da){
                }
            });
        })

    });

</script>
<script>
    $(function () {
        //获取modelandview中的值
        //var majiangKeyID1=[[${majiangKeyID}]];
        $.ajax({
            url: "/user/majiang/getMU",
            type: "get",
            //取modelandview中的数据majiangKeYID
            data: "majiangKeyID="+[[${majiangKeyID}]],
            contentType: "application/json;charset=utf-8",
            success: function (JSON) {
                if (JSON.code==0){
                    //时间格式化
                    console.log(JSON);
                    var da=new Date(JSON.date[0].addTime).Format("yyyy-MM-dd hh:mm:ss");
                    $("#createDate").text("下单时间:"+da);
                    $("#orderStatus").text("订单状态:"+JSON.date[0].statusName);
                    $("#orderUser").text(JSON.date[0].userName+" "+JSON.date[0].userPhone);
                    $("#unitprice").text("单价:"+JSON.date[0].price+"元");
                    $("#majiangOrder_num").text("数量:"+JSON.date[0].num);
                    $("#majiangOrdersum").text("总价:"+JSON.date[0].sumPrice);

                }
            }
        });
    })
</script>
</body>
</html>