<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="./" style="color: #009688">麻将馆</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" shiro:hasRole="admin">
            <li class="layui-nav-item"><a href="">管理</a></li>
            <li class="layui-nav-item"><a href="./getUserList">用户管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" th:unless="${session.userinfo==null}" shiro:hasRole="user">
                <a href="javascript:;" th:text="${session.userinfo.Phone}">
                    名称
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a shiro:lacksPermission="sys:user:user" href="http://localhost:8080/user/login">登录</a>
                <a shiro:hasPermission="sys:user:user" th:href="@{/outApp}">退出</a>
            </li>
        </ul>
    </div>
</div>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item">
                <a href="javascript:;" style="height: 55px">管理</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">所有商品</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">列表一</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="javascript:;">列表三</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" shiro:hasRole name="user">管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="http://localhost:8080/user/login">我的订单</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>

                </dl>
            </li>
        </ul>
    </div>
</div>


<div class="layui-body" id="majiangs-ss">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;"> 这里是为了避免下面的内容呗遮盖
    </div>
    <br>
</div>


<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</body>
</html>