<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>所有友</title>

    <link rel="stylesheet" href="./layui/css/layui.css"/>

    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="./" style="color: #009688">麻将馆</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" shiro:hasPermission="sys:user:query">
            <li class="layui-nav-item"><a href="">管理</a></li>
            <li class="layui-nav-item"><a href="./getUserList">用户管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" th:unless="${session.userinfo==null}">
                <a href="javascript:;" th:text="${session.userinfo.Phone}">
                    名称
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a th:if="${session.userinfo ==null}" href="http://localhost:8080/user/login">登录</a>
                <a th:unless="${session.userinfo==null}" th:href="@{/outApp}">退出</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<table id="userlist">
</table>
<script th:src="@{/layui/layui.js}"></script>

<script>

    layui.use('table', function () {
        console.log("进入方法")
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#userlist'
            , height: 312
            , toolbar: '#toolbarDemo'//  开启头部工具栏，并为其绑定左侧模板
            , url: '/getAllUser' //数据接口
            //, page: true //开启分页
            , cols: [
                [ //表头
                    {checkbox: true}
                    , {field: 'keyID', title: 'ID', sort: true, fixed: 'left'}
                    , {field: 'name', title: '姓名'}
                    , {field: 'phone', title: '手机号', sort: true}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]
            ]
            , response: {
                dataName: 'date'
            }
        });


    });
    //监听行工具事件
    table.on('tool(userlist)',function (obj) {
        var data = obj.data;
        console.log(obj)
        if (obj.event === 'del') {
            layer.confirm('真的删除行么', function (index) {
                obj.del();
                layer.close(index);
            });
        }
    });
</script>
</body>
</html>