<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.majiang.user.majianguser.mapper.majiangMapper">
    <sql id="majiang">
        KeyID,majiangNum,num,IsDelete,addTime,modifyTime
    </sql>
    <sql id="majianguser">
        KeyID,userName,userPhone,price,sumPrice,num,majiangKeyID,status,statusName,IsDelete,addTime,modifyTime
    </sql>
    <!--List<majiangBean> getAllmajiang();-->
    <select id="getAllmajiang" resultType="com.majiang.user.majianguser.bean.majiangBean">
        select
        <include refid="majiang"/>
        from
        majiang
        where IsDelete=0
    </select>

    <!--majiangBean getMajiang(Integer KeyID);-->
    <select id="getMajiang" resultType="com.majiang.user.majianguser.bean.majiangBean">
        select
        <include refid="majiang"/>
        from
        majiang
        where KeyID=#{KeyID} and IsDelete=0
    </select>


    <!--Integer addMajiang(majiangBean majiang);-->
    <insert id="addMajiang" parameterType="com.majiang.user.majianguser.bean.majiangBean">
        insert into majiang(
           majiangNum,num,IsDelete,addTime,modifyTime
        )VALUES (
            #{majiangNum},#{num},#{IsDelete},#{addTime},#{modifyTime}
        );
    </insert>


    <!--List<MajiangUserBean> getAllMajiangUserBean();-->
    <select id="getAllMajiangUserBean" resultType="com.majiang.user.majianguser.bean.MajiangUserBean">
        select
        <include refid="majianguser"/>
        from
        majign_user
        where
        userPhone=#{userPhone} and  IsDelete=0
    </select>

    <!--MajiangUserBean getMUByKeyIDandUserPhone(String KeyID,String UserPhone);-->
    <select id="getMUByKeyIDandUserPhone" resultType="com.majiang.user.majianguser.bean.MajiangUserBean">
        select
        <include refid="majianguser"/>
        from
        majign_user
        where
        userPhone=#{userPhone} and majiangKeyID=#{majiangKeyID} and IsDelete=0 order by modifyTime desc
    </select>

    <!--Integer addAllMajiangUserBean(MajiangUserBean majiangUserBean)-->
    <insert id="addAllMajiangUserBean">
        insert into
         majign_user(
            userName,userPhone,price,sumPrice,num,majiangKeyID,status,statusName,IsDelete,addTime,modifyTime
         )values(
            #{userName},#{userPhone},#{price},#{sumPrice},#{num},#{majiangKeyID},#{status},#{statusName},#{IsDelete},#{addTime},#{modifyTime}
         )
    </insert>

    <!--Integer updateMajiang(majiangBean majiangBean);-->
    <update id="updateMajiang">
        update
         majiang
        set
         majiangNum=#{majiangNum},IsDelete=#{IsDelete},num=#{num},modifyTime=NOW()
        WHERE
         KeyID=#{KeyID}
    </update>


    <!--MajiangUserBean getOrderByOrderID(String OrderID);-->
    <select id="getOrderByOrderID" resultType="com.majiang.user.majianguser.bean.MajiangUserBean">
        select
        <include refid="majianguser"/>
        from
        majign_user
        where
        KeyID=#{OrderID}  and IsDelete=0 order by modifyTime desc limit 1
    </select>

    <!--Integer upOrder(MajiangUserBean majiangUserBean);-->
    <update id="upOrder">
        update
         majign_user
        <trim prefix="set" suffixOverrides=",">
        <if test="userName!=null and userName!=''">
            userName=#{userName},
        </if>
        <if test="userPhone!=null and userPhone!=''">
            userPhone=#{userPhone},
        </if>
        <if test="price!=null and price!=''">
            price=#{price},
        </if>
        <if test="majiangKeyID!=null and majiangKeyID!=''">
            majiangKeyID=#{majiangKeyID},
        </if>
        <if test="Status!=null and Status!=''">
            status=#{Status},
        </if>
        <if test="statusName!=null and statusName!=''">
            statusName=#{statusName},
        </if>
        <if test="sumPrice!=null and sumPrice!=''">
            sumPrice=#{sumPrice},
        </if>
        <if test="num!=null and num!=''">
            num=#{num},
        </if>
        <if test="addTime!=null ">
            addTime=#{addTime},
        </if>
        <if test="modifyTime!=null ">
            modifyTime=#{modifyTime},
        </if>
        <if test="IsDelete!=null and IsDelete!=''">
            IsDelete=#{IsDelete},
        </if>
        </trim>
        WHERE
        KeyID=#{keyID}
    </update>

</mapper>
